<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <h1 class="mb-0 me-3 title">URBAN THREADS</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link primaryColor clicakble " aria-current="page" routerLink="/"  >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link primaryColor clicakble" aria-current="page"  >Top Wear </a>
          </li>
          <li class="nav-item">
        <a class="nav-link primaryColor clicakble" aria-current="page" routerLink="/cart"  >{{'Cart '+"(" + cartCount +")" }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link primaryColor clicakble"   role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Winter'24
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"  >Jaclet</a></li>
              <li><a class="dropdown-item"  >All Winter Wear</a></li>
              <li><a class="dropdown-item"  >Hoddies and Sweatshirts</a></li>
            </ul>
          </li>
        </ul>
        <h1> <i class="bi bi-person-circle"></i></h1>
      </div>
    </div>
  </nav>