nav{
    min-height: 15vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
}
.title{
    color: #ff4081;
    font-family: italic;
    text-shadow: 2px 2px 5px gray;
}
/* for mobile */
@media screen and (max-width: 700px) {
    nav{
        min-height: 7vh;
      }   
}
  
  
  